<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Luckiest+Guy&family=Mukta&family=Nunito&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400&display=swap');

    *{
        font-family:'Mukta';
    }
    h4{
        font-family:'Rowdies';
        text-transform: uppercase;
        font-weight:300;
        letter-spacing:0.1rem;
    }
    .btn{
        font-size:1rem;
        font-family:'Luckiest Guy';
    }

    .btn-danger{
        padding-top:0.7rem;
    }

    label{
        text-transform: uppercase;
    }
    button{
        text-align:center;
    }
    /*.table td{*/
    /*    padding:0.4rem;*/
    /*    margin:0;*/
    /*}*/

    table tr:hover, table tr:hover i{
        color:dodgerblue;
    }

    .tri:hover{
        text-decoration: none;
        background:yellow;
        border-radius:4%;
    }
    i{
        opacity:0.8;
    }
</style>